body{
    background-color: antiquewhite;
}

h1{
    color: #ff00ff;
    text-align: center;
    font-family: sans-serif;
}

h2{
    color: blue;
}

.naslov{
    color: green;
}

div p{
    color: aqua;
}
#sadrzaj{
    font-family: sans-serif;
}
ul
li
{
content:url(../../../../../Desktop/otter.jpg) ;

}