:root{
    --primarna-boja:#390b0b50;
    --pozadina:#f70e0e;
    --pozadina-container: #f5f2f5
    
}

body{
    background-color:var(--pozadina) ;
    align-items: center;
.container{
    width: 90%;
    margin: auto;
    outline-style: solid;
    outline-width: 2px;
    /* outline-offset: 40px; */
    outline-color: var(--primarna-boja);
    /* padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 4rem; */

    padding: 1rem;
    padding: 1rem 2rem;
}h1{
    font-family: monospace;
    text-align: center;

}

#lista{
    border: 2px solid var(--primarna-boja);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 2rem;
}   
